.signupErrors {
  color: red
}

.signup {
  background-color: rgba(27, 96, 103, 0.872);
  color: white;
  border-radius: 6px;
  border-color: transparent;
  padding: 8px;
  width: 75px;
  margin-right: 5px;
  font-weight: bold;

}

.signup:hover {
  background-color: teal;
  /* font-weight: bold; */
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 43, 43, 0.675);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.modal {
   border-radius: 6px;
   background-color: white;
   width: 350px;
   height: 750px;
   position: flex;
   /* top: -250px; */
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   box-sizing: border-box;
   z-index: 4;
}

.SU-label {
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}

.SU-header {
  /* position: center; */
  margin-left: 15%;
  /* align-items: center; */
  /* flex-direction: row; */
  width: 250px;
  font-weight: bold;
  font-size: xx-large;
}

.SU-input {
  display: block;
  width: 200px;
  height: 30px;
  border-radius: 6px;
}

.SU-button {
  color: white;
  background-color: #E32359;
  width: 210px;
  border-radius: 6px;
  height: 50px;
  font-weight: bold;
  font-size: larger;
}

.SU-input:hover {
  border-color: steelblue;
}

.SU-button:hover {
  background-color: #d33763;
  /* font-weight: lighter; */
}