.gIndex {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid; */
}

.group {
  border: 1px solid;
  align-items: center;
  display: flex;
  width: 300px;
  height: 80px;
  justify-content: center;
  border-radius: 6px;
  border-color: rosybrown;
  margin: 9px;
  z-index: 2;
  
}

.groupName {
  font-size: 30px;
  text-decoration: none;
  /* margin-bottom: 30px; */
  margin-left: 30px;
}

.imgPlaceholder {
  width: 100px;
}

.showImg {
  z-index: 3;
  width: 650px;
  margin-left: 100px;
  margin-top: 150px;
  position: relative;
  /* justify-content: center; */
}

.groupDes {
  z-index: 3;
}

.Details {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
}