 .search-bar {
  display: flex;
  flex-direction: row;
  width: 370px;
  margin-left: 30px;
  border-color: steelblue;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;  
  flex-grow: 1;
  z-index: 3;
  /* position: absolute; */
}

.search-button {
  border-color: transparent;
  background-color: rgb(241, 83, 66);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 31px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  box-sizing: content-box; 
  z-index: 3;
  position: relative;
 }

.search-button:hover {
  background-color: rgba(227, 2, 2, 0.654);
  border-color: red;
}

#group-results {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.presentGroups {
  box-sizing: border-box;
  border: solid 1px black;
  margin: 5px;
  flex: 0 0 calc(33.33% - 10px); 
  height: 200px;
  width: 450px;
  overflow: hidden;
}

.groupDescription {
  padding: 5%;
}

.search-results {
  /* color: red; */
}