/* TODO Add site wide styles */
.teal-link {
  color: rgb(43, 104, 145);
  cursor: pointer;    
}

/* .login-button {
  background-color: rgb(241, 83, 66);
} */

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  color: rgb(241, 83, 66);
  text-decoration: none;
  font-family: "Lucida Handwriting", cursive;
  font-size: 30px;
  padding-left: 20px;
  /* position: absolute; */
  /* margin-top: 20px !important; */
}

.div_outer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  /* position: absolute; */
}

.session_div {
  display: flex;
}

.testing {
  display: flex;
  padding-right: 20px;
  /* background-color: aqua; */
  flex-direction: column;
}

.logoutButton {
  background-color: rgb(82, 228, 218);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  /* display: flex; */
  position: flex;
}

.profile-dropdown {
  position: absolute;
  margin-top: 50px;
  /* z-index: 1; */
}

/* .email {
  margin-left: -60px;
} */

.logout {
  width: 100%;
}

.default1 {
  position: absolute;
  margin-left: 57%;
  z-index: 1;
}

.default2 {
  position: absolute;
  display: flex;
  height: 50%;
  margin-top: 15%;
  margin-left: 20%;
  z-index: 1;

}

.help_button {
  width: 100%
}

.help_button:hover {
  color: teal;
  background-color: aliceblue;
}

.your_events:hover {
  color: teal;
  background-color: aliceblue;
}

.your_groups:hover {
  color: teal;
  background-color: aliceblue;
}

.your_profile:hover {
  color: teal;
  background-color: aliceblue;
}

.settings_button:hover {
  color: teal;
  background-color: aliceblue;
}

.logout:hover {
  color: teal;
  background-color: aliceblue;
}