/* TODO Add site wide styles */
.teal-link {
  color: rgb(43, 104, 145);
  cursor: pointer;    
}

.login-button {
  background-color: rgb(241, 83, 66);
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  color: rgb(241, 83, 66);
  text-decoration: none;
  font-family: "Lucida Handwriting", cursive;
  font-size: 30px;
  padding-left: 20px;
  /* margin-top: 20px !important; */
}

.div_outer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  padding: 10px
}

.session_div {
  display: flex;
}



