.login {
  /* border: 0px; */
  background-color: transparent;
  padding-right: 16px;
  border-radius: 6px;
  border-color: transparent;
  padding: 8px;
  width: 75px;
  margin-right: 5px;
  height: 42px;

}

.loginErrors {
  color: red;
}